*.o
*.weights
*.dot
*.png
*.dSYM
.DS_Store
*.xcodeproj
*.out
corpus.length
noise_*
figure_4
figure_5
learner
tests
gprof*
gmon*
*.dendrogram
*.log
*.wordmap
*.graph
*.matrix
*.txt
data/*
*.gprof
*.score
.corpus.length
hierize
dendrify
dendrogram2dot
consensus
graphify
resample